<h1>About</h1>


<!DOCTYPE html>
<html>
<head>
  <title>Shih-Cheng Wang's Profile</title>
</head>
<body>
  <h1>Shih-Cheng Wang</h1>
  <p>As a bioinformatician with three years of experience, I have a strong background in statistics and knowledge of data processing. I am highly skilled at analyzing complex biological data sets using a variety of programming tools. My expertise in programming languages in python, R, and shell scripts enables me to develop custom scripts and an automated testing pipeline. I have excellent communication and problem-solving skills, which enable me to clearly and effectively convey solutions to customers.</p>
  
  <p>Contact Information:</p>
  <ul>
    <li>Phone: 0935962520</li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/aaronwang1013">www.linkedin.com/in/aaronwang1013</a></li>
    <li>Email: qazxsw523625@gmail.com</li>
  </ul>

  <h2>Work Experience</h2>
  <p>Bioinformatic Engineer • Genomics BioSci & Tech Co Ltd. (Jul 2021 - Present)</p>
  <ul>
    <li>Proceed routine bioinformatic analysis, make sure the pipeline works smoothly and generate the reports for customers. Complete 500+ standard bioinformatic cases.</li>
    <li>Developed and benchmarked new analytic procedures using nextflow (groovy based language).</li>
    <li>Post-sales customer support.</li>
    <li>Solved statistical problems from customers using programming tools including python and R.</li>
  </ul>

  <p>Research assistant • National Taiwan University (Aug 2020 - Dec 2020)</p>
  <ul>
    <li>Proceeding data visualization and writing scientific manuscripts.</li>
  </ul>
</body>
</html>
