<div class="author">
    <h1 class="author__heading">Hi, 我是 Aaron.</h1>
    <br>
    <br>

    <h2 class="author__body" style="font-size: 16px;">原先是一名生物資訊工程師，現在正在學習後端技能</h2>
    <h2 class="author__body" style="font-size: 16px;">希望藉由紀錄幫助自己記憶，同時也希望能對同樣在學習階段的夥伴們有所幫助</h2>
    <h2 class="author__body" style="font-size: 16px;">後續會持續更新註冊及留言功能</h2>


</div>

<img src="/img/avatar.jpeg" alt="My avatar" width="600" class="hero-image" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>

    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page-<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

    

</section>